body {
	background-color: #c6e2ff;
}

/*There's also a very special selector you can use to apply CSS styling to every element on the page: the * selector.*/
* {
	border: 1px dashed #3a5fcd;
}

p {
	color: #00e5ee;
}

div p {
	color: #cc0000;
}